/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2017, 5:34:42 PM
    Author     : shivraj
*/


.validation-error {
    background: #ff6161 !important;
    color: #fff;
    padding-left: 10px;
}

.align-right {
    text-align: right;
}

.row {
 padding: 15px 0px 16px 0px;   
}

img.user-avatar {
    max-width: 300px;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    display: block;
}

.col-md-12.avatar-action-btn {
    margin: 16px 17px 16px 72px;
    display: block;
    padding: 0px;
}